  <li class="form-element">
    <dl class="" >
      <dt>
        <label for="subject"><%= t('mail.subject') %></label>
      </dt>
      <dd>

        <%= @subject %>
        <!-- <span class="description"></span> -->
      </dd>
    </dl>
  </li>

