<div class="row">
  <div class="col-md-12">
    <div class="list-group" id="workcamps-list">
      {{#each arrangedContent itemController='littleWorkcamp'}}
        {{partial 'workcamps/item'}}
        {{partial 'free_places_editor'}}
      {{/each}}
    </div>
  </div>
</div>

{{ render 'pagination' }}
