<div class='col-lg-12'>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Import</h3>
    </div>
    <div class="panel-body">
      <form id='upload-form' enctype="multipart/form-data" {{ action 'import' on="submit" }} class='form-horizontal'>

        <div class="form-group">
          <label class="col-lg-1 control-label">PEF</label>
          <div class="col-lg-3">
            {{input type='file' name="pef" class='form-control'}}
          </div>
          <div class="col-lg-3">
          {{#link-to 'workcamps' class='btn btn-default'}}Cancel{{/link-to}}
          <button class='btn btn-primary' type='submit'>Import</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
