log/*.log
db/*.db
db/*.sql.gz
db/*.sql
db/2011
db/*.sqlite3
tmp/**/*
public/uploads
public/system/**/*
doc/api
doc/app
*\#*\#
.\#*
*~
*_flymake.*
.bundle
config/database.yml
config/volant.rb
.idea
.env
/old.sql.gz
/test/fixtures/vef/VEF_LUNAR_ALESSANDROMARCOMARIA.xml
/test/fixtures/vef/VEF_LUNAR_SIMPSI.xml
/test/fixtures/vef/VEF_SJ_TAMAGNAN.xml
