<form  class="navbar-form  navbar-left col-lg-1" >
  <select class="form-control">
    <option>All types</option>
    <option>Workcamps</option>
    <option>Applications</option>
  </select>
</form>

<form  class="navbar-form  navbar-left col-lg-1" >
{{view Ember.Select
       content=years
       value=current_year
       class="form-control"
}}
</form>
