<form  class="navbar-form  navbar-left col-lg-1" >
  <select class="form-control">
    <option>All types</option>
    <option>Workcmamps</option>
    <option>Applications</option>
  </select>
</form>

<form  class="navbar-form  navbar-left col-lg-1" >
  <select class="form-control">
    <option>All years</option>
    <option>2014</option>
    <option>2013</option>
  </select>
</form>
