<h1>Import</h1>

<p>Vyberte soubor s workcampy ve formátu PEF a spusťte import. Všechny nalezené workcampy se připraví "Ke kontrole" (viz menu). Po jejich potvrzení se přesunou do databáze.</p>

<%= form %>
