<h3><%= plural.humanize %></h3>

<table class="table table-striped table-hover">
  <thead>
    <% attributes.each do |attr| -%>
    <th><%= attr.name.humanize %></th>
    <% end -%>

    <th class='text-right'>
      <button type="button" class="btn btn-success" {{ action 'add'}}>
        <i class="fa fa-plus"></i>
      </button>
    </th>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <% attributes.each_with_index do |attr,i| -%>
        <% if i == 0 %>
        <td>
          {{#link-to '<%= singular%>' this}}
            {{<%= attr.name %>}}
          {{/link-to}}
        </td>
        <% else %>
        <td>{{<%= attr.name %>}}</td>
        <% end %>
        <% end -%>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>
