<h1><%= class_name %></h1>

{{errors.messages}}

<% attributes.each do |attr| -%>
{{#model-field errors=errors.<%= attr.name %>}}
  <label class=" control-label"><%= attr.name.capitalize %></label>
  {{input value=<%= attr.name %> class="form-control" }}
{{/model-field}}
<% end -%>


{{outlet}}
