#admin_stripe {
        position: absolute;

        top: 0px;
        left: 0px;
        height: 20px;
        width: 100%;

        border: 1px solid #FFE9AF;
        border-top: hidden;
        background-color: white;

        font-size:12px;
        text-align: right;
        text-decoration: none;

        margin: 0px;
        padding: 0px;
}

#admin_stripe li
{
        display: inline;
        padding-right: 20px;
        vertical-align: middle;
        margin: 0px;
}

#admin_stripe li.shadow {
        color: #B5B5B5;
}

#admin_stripe li.left
{
  position: relative;
  left: 20px;
  float: left;
}

#admin_stripe li a,
#admin_stripe li a:visited {
        color: #6F6F6F;
        text-decoration: none;
}

#admin_stripe li a:hover {
        background-color: #FFFF88;
        background-color: #FFD000;
}

#admin_stripe img {
        vertical-align: middle;
        border: none;
}
