body {
        background-color: white;
        font-family:Verdana, sans-serif;
        font-size:11px;
        color:black;
}

del.differ {  color: red; }
ins.differ {  color: green; }
p.diff { background: #f5f5f5; border: 1px dashed grey; }

.error {  color: red; }
img.icon { border: none; }

a {
    cursor: pointer;
    text-decoration:none;
}

hr {
     color: #FFE9AF;
     width: 100%;
     height: 2px;
     border: none;
     background-color: #FFE9AF;
}

.active-scaffold tr.alert td {
/*
 background-color: red;
 color: red;
*/
}


/* Style used by ActiveScaffold */
h1 {
        color:#555555;
        font-family:arial,sans-serif;
        font-size:160%;
        font-size-adjust:none;
        font-stretch:normal;
        font-style:normal;
        font-variant:normal;
        font-weight:bold;
        line-height:normal;
        margin:0;
        padding:2px 0;
}

span.current_page {
  border: 1px solid #FFD35F;
  background-color: #FFEEBF;
  padding-left: 5px;
  padding-right: 2px;
  margin: 3px;
}

textarea.long-text-area {
 height: 420px;
}


#contentwrapper{
        float: left;
        width: 100%;
}

#content {
        margin-top: 25px;
        margin-left: 220px;
}

#footer {
          width: 100%;
          font-size: 85%;
          text-align: center;
          color: gray;
          float: middle;
}

#footer a {
          color: black;
}
