#sidebar {
        float: left;
        width: 220px;
        margin: 0;
        margin-left: -100%;
        margin-top: 25px;
}

#sidebar img.header {
  position: relative;
  left: 30px;
  border: none;
}

#menu {
 font-size: 12px;
 background-color: transparent;
 left: 0px;
 text-align: left;
}

#menu img {
        border: 0;
        padding-right: 3px;
        vertical-align: middle;
}

#menu ul {
  padding-left: 20px;
}

#menu li { 
  
}

#menu li strong
{
  color: black;
/*  color: #3E8CD9;*/
  font-size:130%;
  font-weight: bold;
  cursor: pointer;
}

#menu ul ul li > strong
{
  font-size: 110%;
  font-weight: lighter;
}

#menu ul ul li > ul > li > strong {
  font-size: 90%;
  font-weight: lighter;
  color: #6F6F6F;
}

#menu ul ul li > ul > li > ul > li > strong {
  font-size: 80%;
  font-weight: lighter;
  color: #6F6F6F;
}


#menu li {
        color: #EFAE00;
        vertical-align: middle;
        list-style: none;
}


#menu a {
        text-decoration: none;
        font-weight:normal;
}

#menu a, #menu a:visited {
   color: #6F6F6F;
}

#menu a:hover {
   background-color: #FFD000;
}

.tagbox {
 display: inline;
 margin:0 -1px;
 padding-right: 7px;
 padding-left: 5px;
 margin-right: 5px;
 border-collapse:collapse;
 width: 13px;
 height: 10px;
 white-space: nowrap;
}
