/* GREY */
.active-scaffold tr.cancelled td.sorted,
.active-scaffold tr.almost_full td.sorted,
.active-scaffold tr.full td.sorted,
.active-scaffold tr.over td.sorted
{
 background-color: #cdcdcd;
 border-bottom: 1px solid #cecece;
}

.active-scaffold tr.cancelled td,
.active-scaffold tr.almost_full td,
.active-scaffold tr.full td,
.active-scaffold tr.over td
{
 background-color: #e4e4e4;
 border-left: 1px solid #cecece;
 border-bottom: 1px solid #cecece;
}

/* GREEN */
.active-scaffold tr.running td.sorted
{
 background-color: green;
 border-bottom: 1px solid #cecece;
}


.active-scaffold tr.running td,
{
 background-color: green;
 border-left: 1px solid #cecece;
 border-bottom: 1px solid #cecece;
}


/* RED */
.active-scaffold tr.alert td.sorted,
.active-scaffold tr.alert td
{
 background-color: #ff9696;
 border-left: 1px solid #ff7a7a;
 border-bottom: 1px solid #ff7a7a;
}


