<div id="<%= id %>" class="bubble" style="display:none">
  <div class="rounded" id="<%= id %>-rounded" >
    <blockquote>
      <p><%= content %></p>
    </blockquote>
    <!--
     <blockquote>
      <p>Customize colors and styling to
        your taste
        from within the CSS, then simply
        edit the pointer tip image.
        Works on any background to fit with your design.</p>
    </blockquote>
    -->
  </div>
  <!-- TODO - enable pointer -->
  <!-- <cite>PRDEL!</cite> -->
</div>
<script>
  curver = new curvyCorners(curver_settings, $("<%= id %>-rounded"));
  curver.applyCornersToAll();
</script>
