<hr>
<div id="footer">
  S radostí naprogramováno pomocí frameworku <%= link_to "Ruby on
  Rails", "http://rubyonrails.org/" %> a pluginu <%= link_to "Active Scaffold", "http://activescaffold.com/" %><br>
  Všechny ikony s vděčností přejaté z  <%= link_to "Fam Fam Silk Icons",  "http://www.famfamfam.com/lab/icons/silk/" %><br>
  &copy; 2010 <%= mail_to "jakub.hozak@gmail.com", "Jakub Hozák" %> pro INEX-SDA
</div>
