<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  <span>
    {{#if icon}}{{ fa icon }}{{/if}}
      {{#if title}}{{ title }}{{/if}}
  </span>
  <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
  {{yield}}
</ul>
