# [retro@retro  volant (master=)]❤ grep -r "Volant::" .
# ./app/models/organization.rb:    Organization.find_by_code(Volant::Config::default_organization_code)
# ./app/helpers/application_helper.rb:     number_to_currency(number, :unit => Volant::Config::currency)
# ./test/test_helper.rb:#    Factory.create(:organization, :code => Volant::Config::default_organization_code)
# ./config/environment.rb:    :secret      => Volant::Config::session_secret
# ./config/environment.rb:Volant::Config::default_organization_code = 'SDA'

module Volant
  module Config
    mattr_accessor :default_organization_code, :session_secret, :currency
    self.session_secret            = "123456789123456789123456789"
    self.currency                  = "Kč"
  end
end
