<h1><%= t 'import.results' %> </h1>

<% @report.each do |type, msg|  %>
 -  <%= content_tag :span, msg, :class => type.to_s %><br/>
<% end %>

<p>
  <%= link_to t('import.import_instructions'), outgoing_imported_workcamps_path  %>
</p>

<p>
  <%= link_to t('import.update_instructions'), outgoing_updated_workcamps_path  %>
</p>
