<div class="input-group">
  {{ input value=query class="form-control" placeholder=query_placeholder }}
  <span class="input-group-btn">
    <button class="btn btn-default reset" type="button" {{action 'reset'}}>
      {{fa 'times'}}
    </button>
    <button class="btn btn-primary" type="submit">Search</button>
  </span>
</div>
