<form  {{ action 'search_workcamp' on=submit }} class="navbar-form
  navbar-left col-lg-6" role="search">
  <div class="form-group">
    {{ input value=query class="form-control" placeholder="name, code,
  country..." }}
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
