<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <h1 class="pure-menu-heading">Volant</h1>
    <ul>
      <li>{{#link-to 'workcamps' }}Applications{{/link-to}}</li>
      <li class="">{{#link-to 'workcamps' }}Workcamps{{/link-to}}</li>
    </ul>
</div>

<br/>
<br/>

{{outlet}}
