<h1>Country</h1>

{{errors.messages}}


  {{#model-field errors=errors.name}}
    <label class=" control-label">name</label>
    {{input value=name class="form-control" }}
  {{/model-field}}

  {{#model-field errors=errors.code}}
    <label class=" control-label">code</label>
    {{input value=code class="form-control" }}
  {{/model-field}}



{{outlet}}
