<h3>Countries</h3>

<table class="table table-striped table-hover">
  <thead>
    
      <th>#<Rails::Generators::GeneratedAttribute:0x00000006912b60></th>
    
      <th>#<Rails::Generators::GeneratedAttribute:0x00000006912a20></th>
    
      <th>#<Rails::Generators::GeneratedAttribute:0x000000069128e0></th>
    
    <th>
      <button type="button" class="btn btn-success" {{ action 'add'}}>
        <i class="fa fa-plus"></i>
      </button>
    </th>
  </thead>
  <tbody>
    {{#each itemController="country" }}
      
      <td>{{#<Rails::Generators::GeneratedAttribute:0x00000006912b60>}}</td>
      
      <td>{{#<Rails::Generators::GeneratedAttribute:0x00000006912a20>}}</td>
      
      <td>{{#<Rails::Generators::GeneratedAttribute:0x000000069128e0>}}</td>
      
      <td></td>
    {{/each}}
  </tbody>
</table>
