<h3>Emails</h3>

<table class="table table-striped table-hover">
  <thead>
    <th>Usage</th>
    <th>Address</th>
    <th>Name</th>
    <th>Notes</th>
    <th>
      <button type="button" class="btn btn-success" {{ action 'add'}}>
        <i class="fa fa-plus"></i>
      </button>
    </th>
  </thead>
  <tbody>
    {{#each itemController="email_contact" }}
      {{partial 'email_contact'}}
    {{/each}}
  </tbody>
</table>
