  <div class="col-lg-6">
    <h3> Timeline</h3>

    <table class="table table-hover">
      <tbody>
        <tr><td>
        <img src="/assets/flags-iso/flat/24/SI.png" alt="Slovenia">
        <a href="#">Antonin Pecka</a> is leaving in 5 days to
        <a href="#">
          11th Workcamp of Young Paraplegics and Tetraplegics
        </a>
      </td></tr>

      <tr><td>
        <img src="/assets/flags-iso/flat/24/SI.png" alt="Slovenia">
        <a href="#">Katerina Vesela</a> is leaving in 5 days to
        <a href="#">
          11th Workcamp of Young Paraplegics and Tetraplegics
        </a>
      </td></tr>

      <tr><td>
        <img src="/assets/flags-iso/flat/24/CU.png" >
        <a href="#">Alena Mala</a> is on
        <a href="#"> IWO-IYFer - 16th International Youth Forum</a>
        and will return in 10 days
      </td></tr>

      <tr><td>
        <img src="/assets/flags-iso/flat/24/FR.png" >
        <a href="#">Josef Hlinomaz</a> just returned from
        <a href="#">SJ72 - ABBAYE DE CLAUSONNE</a>
      </td></tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6">
    <h3><i class='fa fa-star'></i> Starred</h3>

    <table class="table table-hover starred">
      <tbody>
        <tr><td>
          <img src="/assets/flags-iso/flat/24/SI.png">
          <a href="#">11th Workcamp of Young Paraplegics and Tetraplegics</a>
        </td>
        <td>X</td>
        </tr>
        <tr><td>
          <img src="/assets/flags-iso/flat/24/KR.png" >
          <a href="#">IWO-81 - A GLOBAL MIND IN NATURE</a>
        </td>
        <td>X</td>
        </tr>

        <tr><td>
          <img src="/assets/flags-iso/flat/24/FR.png">
          <a href="#">SJ72 - ABBAYE DE CLAUSONNE</a>
        </td>
        <td>X</td>
        </tr>

        <tr><td>
          <i class='fa fa-male'></i>
          <a href="#">Antonin Sova</a>
        </td>
        <td>X</td>
        </tr>

        <tr><td>
          <i class='fa fa-female'></i>
          <a href="#">Bozena Nemcova</a>
        </td>
        <td>X</td>
        </tr>

        <tr><td>
          <i class='fa fa-female'></i>
          <a href="#">Milena Jesenska</a>
        </td>
        <td>X</td>
        </tr>
      </tbody>
    </table>

    <hr/>

    <h3><i class='fa fa-clock-o'></i> Recent</h3>
    <table class="table table-hover recent">
      <tbody>
        <tr>
          <td>
          <i class='fa fa-female'></i>
          <a href="#">Kaja Marik</a>
        </td>
        </tr>

        <tr><td>
          <img src="/assets/flags-iso/flat/24/GB.png" >
          <a href="#">UNAS03 - Action in Ely and Caerau (ACE)</a>
        </td></tr>
        <tr><td>

        <tr><td>
          <i class='fa fa-female'></i>
          <a href="#">Bozena Nemcova</a>
        </td></tr>

        <tr><td>
          <img src="/assets/flags-iso/flat/24/DE.png" >
          <a href="#">DE-SCI 7.19 - Ahrensburg</a>
        </td></tr>
        <tr><td>

        <tr><td>
          <i class='fa fa-female'></i>
          <a href="#">Milena Jesenska</a>
        </td></tr>
      </tbody>
    </table>
  </div>
