<table class="table table-condensed table-hover col-md-12 sidepanel">
  <tbody>
    {{#each}}
      <tr>
        <td>{{dates this }}</td>
        <td>
          {{#link-to 'workcamp' this}}
          {{name}}
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
