{{#if isDirty }}
<form class="navbar-form navbar-right">
 <div class="form-group">
  <button type="button" class="btn btn-danger" {{ action 'rollback' }}>
    {{ fa 'times' }}
  </button>
  <button type="button" class="btn btn-success" {{ action 'save' }}>
    {{ fa 'check' }}
  </button>
 </div>
</form>
{{/if}}
