
body {
  margin: 1em;
}

textarea {
  min-width: 85%;
  min-height: 10em;
}

legend {
  color: rgb(47, 107, 164);
}

.fa-star {
  color: #FFD800;
}

.table.starred, .table.recent {
  i { font-size: 150%; padding-right: 0.3em; }
}

.nav-with-filter {
  border-bottom: 1px solid gray;
  box-shadow: rgba(0,0,0,0.6) 2px 2px 10px;
}

.sidepanel {
  border-left: 1px solid #dddddd; // border color
}

.alert {
position: relative;
margin: 0 auto;
max-width: 30em;
}