
@import "compass/css3";
@import "colors";
@import "huge-button";


body {
  // because of fixed-nav-bar
  padding-top: 70px;
  margin: 0 1em 1em 1em;
}

textarea.form-control {
  min-width: 85%;
}

// TODO: replace by SVG rectangular icons
// https://github.com/lipis/flag-icon-css
.flag {
  @include border-radius(3px);  
  background-color: rgb(235, 235, 235);
  padding-left: 2px;
  padding-right: 2px;
}

.fa-star-o {
  color: gray;
}

.fa-star {
  color: #FFD800;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: gray;
}



.sidepanel {
  border-left: 1px solid $border-color;
}

.alert {
position: relative;
margin: 0 auto;
max-width: 30em;
}





/* state icons 
h2 i.fa {
  &.accepted  { color: $green; }
  &.cancelled, &.rejected { color: $red;   }
  &.paid { color: $grey;   }
  &.not_paid, &.asked, { color: $yellow;   }
  &.infosheeted { color: $grey;   }
}
*/

.pagination-container {
  /* .pagination { */
  /*   margin-top: 0; */
  /*   margin-bottom: 0; */
  /* } */

  .info {
    margin-top: 20px;
    vertical-align: middle;
  }
}

#apply-form-toolbar {
  position: relative;
  text-align: right;
  top: 25px;
}

td .apply-form-action-dropdown {
  width: 7em;

  & > button:first-child {
    width: 75%;
  }  
}

tr.workcamp_assignment {
  i.fa-circle { color: $green; }
}

.modal-dialog {
  width: 85%;
}

table.dashboard {
  /* overriding bootstrap */
  & > tbody > tr > td {
    border: none;
    padding-top: 0em;
    padding-bottom: 0em;
  }


  tr {
    font-size: 35px;
    margin: 1px;
  }

  td {  }

    td:nth-child(1) {
      text-align: right;
    }

    td:nth-child(2) {
      font-size: 65%;
      color: $grey;
      vertical-align: middle;
     }

}

.navbar-form input {
  min-width: 50em;
}

.navbar-right {
  .badge {
    background-color: #E76363;
    position: relative;
    left: -0.5em;
    top: 0.3em;
  }

  .fa-cog, .fa-envelope {
    font-size: 135%;
  }

  & > li > a {
    $padding: 0.5em;
    padding-left: $padding;
    padding-right: $padding;
  }
}

.navbar-default .navbar-nav {
   // & > li > a {  @include single-text-shadow; }
}

.navbar-default {
  .navbar-header > a {
//    @include single-text-shadow(0px,0px,20px,false,white);
    font-weight: lighter;
  }

  .form-control {
     background-color: #D1B778;
     border: 1px solid lighten(#D1B778,5%);
//     color: white;
  }
}


.modal-header {
  background-color: rgba(0,0,0,0.04);
}

.form-control {
 @include box-shadow(none);
}

.email-preview {
  padding: 0.5em;
}

/* white text color is not suitable for warning background */
.btn.btn-warning {
  color: #625858;
}


.form-search {
  margin-top: 0.5em;
  margin-bottom: 1.5em;

  /* search query reset button */
  .input-group .input-group-btn {
      button.reset { color: gray; }
  }
}

.right-side-edit {
  position: fixed;
  right: 1em;
}

ul.labels-list {
  display: inline-block;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: 0.2em;
    a { color: white; }
    a:hover { color: $red; }
  }

}

table.import-changes {
  thead {
    td,th { background-color: lighten(gray,50%); }
  }

  td.actions { min-width: 6em; }
}

.native-editor {
  margin-top: 0.5em;
  min-height: 5em;
  padding: 0.2em;

  &[contenteditable] {
    border: 1px solid $border-color;
  }
}


#modal {
  $padding: 1em;

  background-color: rgba(0,0,0,0.3);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 1000000;

  button.close {
    position: relative;
    top: -0.8em;
  }
  .panel {
    width: 60%;
    margin: 10%  auto 0;
  }
}


.btn.huge.red {
  @include huge-button($red,lighten($red,30%));
}

.btn.huge.green {
  @include huge-button($green,lighten($green,45%));
}

.graph-view {
  position: relative;

  .legend-container {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: white;
    border: 2px dashed lighten(black,90%);
    padding: 0.2em 0.5em;

    & > ul {
      vertical-align: middle;
      list-style: none;
      padding: 0;
      margin: 0;

      span {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid $border-color;
        margin: 3px;
      }
    }
  }
}

.favorites {
  padding-right: 4em;

  h4.list-group-item-heading { font-size: 110%; }
  .list-group-item {
    border: none;
    border-top: 1px solid lighten(#ccc,5%);
  }
}

.vef-download-button {
  position: relative;
  top: -3px;   
  font-size: small;  
  margin-right: 0.05em;
}

.free-places-popover {
  text-align: center;
}

.extra-fee-label {
  color: lighten(black,20%);
}

#toolbar {
  position: fixed;
  bottom: 0;
  right: 1em;
}

@mixin remove-button-hover {
  .remove-button {
    border: 1px solid transparent; 
    background-color: transparent;
    &:hover { 
      border: 1px solid $border-color; 
      background-color: white;
    }
  }  
}

table#apply-forms-list {
  @include remove-button-hover;
}

#workcamps-list {
  .row { position: relative; }
  .remove-button { position: absolute; top: 0; right: 5px; }
  @include remove-button-hover;
  img.flag { height: 1.5em; background-color: none; }  
}

.volunteer-card-icon .fa-user {
  position: relative;
  top: 2px;
}

.org-card-icon .fa-institution {
  color: $grey;  
  font-size: 90%;  
  position: relative;
  top: 2px;
}


#toolbar .fa-stack {
  font-size: 75%;
}

.state-icon {
  .fa-stack-2x {
    color: gray;
  }
  @include single-text-shadow(1px 1px #AAA);
}