@import 'colors';

.flash {
  display: none;

  // TODO: use Bootstrap constants
  position: fixed;
  left: 0;
  top: 41px;
  color: black;

  &.info { background-color: transparentize($brand-primary,0.5);  }
  &.success {  background-color: transparentize($green,0.7); }
  &.error {  background-color: transparentize($red,0.6); }
  &.warning {  background-color: transparentize($yellow,0.5); }

  width: 100%;
  text-align: center;
  padding:0.3em;
  vertical-align: middle;

  button.close {
    position: relative;
    top: -0.8em;
  }
}