<table class="table table-condensed col-lg-12 sidepanel">
 <tbody>
   {{#each assignments_by_state }}
    <tr>
      <td>{{apply-form-state-icon state}}</td>
      <td>
        {{#link-to 'apply_form' apply_form}}
          {{apply_form.name}}
          {{ gender-sign apply_form.volunteer.gender }}
        {{/link-to}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
